################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/desktop.ini
/.vs/ApiCatalogoJogos/v16/.suo
/ApiCatalogoJogos/obj
/.vs/ApiCatalogoJogos/DesignTimeBuild/.dtbcache.v2
